<!-- templates/home-page-template.html -->

<template id="home-page-template">
    <style>
        /* Estilos específicos para el home-page */
        :host {
            display: block;
            font-family: 'Poppins', sans-serif;
        }

        /* Agrega estilos según sea necesario */

        main {
            padding: 20px;
        }

        /* Estilos para el header, slider, us section, healthy section, trainer section, etc. */

    </style>

    <header class="header_section">
        <!-- Contenido del header, como el navbar -->
    </header>

    <section class="slider_section">
        <!-- Contenido del slider, puedes utilizar slots para el contenido dinámico -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <!-- Contenido del slider -->
        </div>
    </section>

    <section class="us_section">
        <!-- Contenido de la sección "Why Choose Us" -->
    </section>

    <section class="heathy_section">
        <!-- Contenido de la sección "Healthy Mind, Healthy Body" -->
    </section>

    <section class="trainer_section">
        <!-- Contenido de la sección "Our Gym Trainers" -->
    </section>

    <section class="contact_section">
        <!-- Contenido de la sección de contacto -->
    </section>

    <section class="info_section">
        <!-- Contenido de la sección de información -->
    </section>

    <footer class="footer_section">
        <!-- Contenido del footer -->
    </footer>
</template>
